@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

.fundo {
    background-image: linear-gradient(45deg, black, blue);
    height: 100vh;
    color: white;
}

.borda {
    border-radius: 15px;
}
 
input, h1, form {
    text-align: center;
}

/* Também vamos precisar de uma classe
em CSS para da um efeito de ‘ ̶r̶i̶s̶c̶a̶d̶o̶ ’ nas tarefas concluídas. */

.checked {
    text-decoration: line-through;
}

/* A classe checked é usada apenas para definir
um texto como ‘ ̶r̶i̶s̶c̶a̶d̶o̶ ’ ao concluir uma tarefa. */

legend {
    text-align: center;
}
.tasks {
    position: absolute ;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 15px;
}


button {
    background-color: blue;
    color: white;
    height: 30px;
    width: 90px;
    margin: 15px;
    font-size: 15px;
    border-radius: 40px;
    border: none;
    text-align: center;
}
button:hover {
    background-color: black;
}

